# Collaborative Filtering

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [3]:
tags = pd.read_csv('datasets/ml-latest-small/tags.csv')
ratings = pd.read_csv('datasets/ml-latest-small/ratings.csv')
movies = pd.read_csv('datasets/ml-latest-small/movies.csv')
links = pd.read_csv('datasets/ml-latest-small/links.csv')

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
df = pd.merge(movies , ratings)

In [7]:
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091

Now we will pivot this table to construct a nice matrix of users and the movies they rated. Nan indicates missing data, or movies that a given user did not watch.

In [8]:
userRatings = df.pivot_table(index = ['userId'], columns=['title'],
                                 values = 'rating')
userRatings.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Pandas has a built-in corr() method that will compute a correlation score for every column pair in the matrix. This gives us a correlation score between every pair of movies (where atleast one user rated both movies - otherwise NaN's will show up)

If we were doing user-user we could compute correlation between users to find similar users.

Since we are doing item based, we are more interested in the relationships between columns. Doing a correlation score between any two columns. That will give us a correlation score for a given movie pair.

In [9]:
corrMatrix = userRatings.corr()
corrMatrix.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$9.99 (2008),NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Neath the Arizona Skies (1934),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We have a new dataframe where every movie is on the row and on the columns. We can look at the intersection of any two given movies and find the correlation score to each other based on the user rating data.

Movies are perfectly correlated with themselves

*his Notes*

However, we want to avoid spurious results that happened from just a handful of users that happened to rate the same pair of movies. In order to restrict our results to movies that lots of people rated together - and also gives us more popular results that are more easily recongizable - we'll use the min_periods argument to throw out results where fewer than 100 users rated a given movie pair:

In [10]:
corrMatrix = userRatings.corr(method = 'pearson', min_periods = 100)
corrMatrix.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$9.99 (2008),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Neath the Arizona Skies (1934),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
corrMatrix[~corrMatrix.isnull().any(axis=1)]

Empty DataFrame
Columns: ["Great Performances" Cats (1998), $9.99 (2008), 'Hellboy': The Seeds of Creation (2004), 'Neath the Arizona Skies (1934), 'Round Midnight (1986), 'Salem's Lot (2004), 'Til There Was You (1997), 'burbs, The (1989), 'night Mother (1986), (500) Days of Summer (2009), *batteries not included (1987), ...And God Spoke (1993), ...And Justice for All (1979), 1-900 (06) (1994), 10 (1979), 10 Attitudes (2001), 10 Cloverfield Lane (2016), 10 Items or Less (2006), 10 Things I Hate About You (1999), 10 Years (2011), 10,000 BC (2008), 100 Girls (2000), 100 Rifles (1969), 101 Dalmatians (1996), 101 Dalmatians (One Hundred and One Dalmatians) (1961), 101 Reykjavik (101 Reykjavík) (2000), 102 Dalmatians (2000), 10th Kingdom, The (2000), 11'09"01 - September 11 (2002), 11:14 (2003), 12 Angry Men (1957), 12 Angry Men (1997), 12 Years a Slave (2013), 127 Hours (2010), 12:08 East of Bucharest (A fost sau n-a fost?) (2006), 13 Assassins (Jûsan-nin no shikaku) (2010), 13 Ghosts (1960), 13 Going on 30 (2004), 13 Tzameti (2005), 13th Warrior, The (1999), 1408 (2007), 15 Minutes (2001), 16 Blocks (2006), 16 Wishes (2010), 17 Again (2009), 18 Again! (1988), 187 (One Eight Seven) (1997), 1941 (1979), 1984 (1956), 1984 (Nineteen Eighty-Four) (1984), 1990: The Bronx Warriors (1990: I guerrieri del Bronx) (1982), 2 Days in New York (2012), 2 Days in the Valley (1996), 2 Fast 2 Furious (Fast and the Furious 2, The) (2003), 2 Guns (2013), 2 ou 3 choses que je sais d'elle (2 or 3 Things I Know About Her) (1967), 20 Dates (1998), 20 Feet from Stardom (Twenty Feet from Stardom) (2013), 20,000 Leagues Under the Sea (1916), 20,000 Leagues Under the Sea (1954), 200 Cigarettes (1999), 200 Motels (1971), 2001: A Space Odyssey (1968), 2010: The Year We Make Contact (1984), 2012 (2009), 2046 (2004), 21 (2008), 21 Grams (2003), 21 Jump Street (2012), 21 Up (1977), 22 Jump Street (2014), 23 (23 - Nichts ist so wie es scheint) (1998), 24 Hour Party People (2002), 24 Hour Woman, The (1998), 24: Redemption (2008), 25 Watts (2001), 25th Hour (2002), 27 Dresses (2008), 28 Days (2000), 28 Days Later (2002), 28 Up (1985), 28 Weeks Later (2007), 29th and Gay (2005), 3 Extremes (Three... Extremes) (Saam gaang yi) (2004), 3 Idiots (2009), 3 Ninjas (1992), 3 Ninjas Kick Back (1994), 3 Ninjas Knuckle Up (1995), 3 Ninjas: High Noon On Mega Mountain (1998), 3 Women (Three Women) (1977), 3 Worlds of Gulliver, The (1960), 3-Day Weekend (2008), 3-Iron (Bin-jip) (2004), 30 Days of Night (2007), 30 Minutes or Less (2011), 30 Years to Life (2001), 300 (2007), 3000 Miles to Graceland (2001), 300: Rise of an Empire (2014), 35 Up (1991), ...]
Index: []

[0 rows x 9064 columns]

Instead of throwing out items that were reviewed by less than 100 people, what we are doing is throwing out movies similarities where less than 100 people rated both of those movies.

*his notes*

Now let's produce some movie recommendations for user ID - who i manually added to the data set as a test case. He really likes SW and the Empire Strikes back, but hated Gone with the Wind. I'll extract his ratings from userRatings df and use dropna() to get rid of missing data (leaving me only with a Series of the movies I actually rated).

In [46]:
movies = {'Star Wars: Episode V - The Empire Strikes Back (1980)': 5,
          'Gone with the Wind (1939)': 1,
          'Star Wars: Episode IV - A New Hope (1977)': 5}

index = ['Star Wars: Episode V - The Empire Strikes Back (1980)',
        'Gone with the Wind (1939)',
        'Star Wars: Episode IV - A New Hope (1977)']
myRatings = pd.Series(data = movies, index = index)

myRatings.index.name = 'title'

In [47]:
# myRatings = userRatings.loc[8].dropna()
# myRatings

myRatings

title
Star Wars: Episode V - The Empire Strikes Back (1980)    5
Gone with the Wind (1939)                                1
Star Wars: Episode IV - A New Hope (1977)                5
dtype: int64

What we want to do with this data is recommend movies for people. How we do that is look at all the ratings for a given person, find movies similar to the stuff they rated, and those are candidates for recommendations for that person.

*his notes*

Now, let's go through each movie i rated one at a time, and build up a list of possible recommendations based on the movies similar to the ones i rated.

So for each movie I rate, I will retrieve the list of similar movies from our correlation matrix. Ill then scale those correlation scores by how well i rated the movie they are similar to, so movies similar to ones i liked count more than movies similar to ones i hated.

In [48]:
simCandidates = pd.Series()

for i in range(0, len(myRatings.index)):
    print("adding sims for " + myRatings.index[i] + "...")
    # retrieve similar movies to this one that i rated
    sims = corrMatrix[myRatings.index[i]].dropna()
    # now scale its similarity by how well i rated this movie
    sims = sims.map(lambda x: x*myRatings[i])
    # add the score to the list of similarity candidates
    simCandidates = simCandidates.append(sims)

# glance at our results so far
print("sorting.....")
simCandidates.sort_values(inplace = True, ascending = False)
print(simCandidates.head(10))

/Users/zhikaichen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

adding sims for Star Wars: Episode V - The Empire Strikes Back (1980)...
adding sims for Gone with the Wind (1939)...
adding sims for Star Wars: Episode IV - A New Hope (1977)...
sorting.....
Star Wars: Episode V - The Empire Strikes Back (1980)                             5.000000
Star Wars: Episode IV - A New Hope (1977)                                         5.000000
Star Wars: Episode VI - Return of the Jedi (1983)                                 3.817034
Star Wars: Episode VI - Return of the Jedi (1983)                                 3.738871
Star Wars: Episode IV - A New Hope (1977)                                         3.503949
Star Wars: Episode V - The Empire Strikes Back (1980)                             3.503949
Lord of the Rings: The Fellowship of the Ring, The (2001)                         2.387912
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    2.382210
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    2.380602
Lord of the Rings: The Two Towers, The (2002)                                     2.240764
dtype: float64

*his note*

This is starting to look like something useful. Note that some of the movies came up more than once, because they were similar to one movie I rated. We will use Groupby() to add together the scores from movies that show up more than once, so they'll count more

In [49]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()

In [50]:
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(10)

Star Wars: Episode IV - A New Hope (1977)                                         8.503949
Star Wars: Episode V - The Empire Strikes Back (1980)                             8.503949
Star Wars: Episode VI - Return of the Jedi (1983)                                 7.555905
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    4.762813
Lord of the Rings: The Fellowship of the Ring, The (2001)                         4.166083
Lord of the Rings: The Two Towers, The (2002)                                     4.027989
Lord of the Rings: The Return of the King, The (2003)                             3.628191
E.T. the Extra-Terrestrial (1982)                                                 3.354069
Men in Black (a.k.a. MIB) (1997)                                                  3.243457
Jurassic Park (1993)                                                              2.986512
dtype: float64

The last thing we need to do is filter out movies I've already rated.

In [54]:
filterSims = simCandidates.drop("Star Wars: Episode V - The Empire Strikes Back (1980)")
filterSims.head(10)

Star Wars: Episode IV - A New Hope (1977)                                         8.503949
Star Wars: Episode VI - Return of the Jedi (1983)                                 7.555905
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    4.762813
Lord of the Rings: The Fellowship of the Ring, The (2001)                         4.166083
Lord of the Rings: The Two Towers, The (2002)                                     4.027989
Lord of the Rings: The Return of the King, The (2003)                             3.628191
E.T. the Extra-Terrestrial (1982)                                                 3.354069
Men in Black (a.k.a. MIB) (1997)                                                  3.243457
Jurassic Park (1993)                                                              2.986512
Pulp Fiction (1994)                                                               2.945942
dtype: float64

$$\hat{r}_{x,i} = \frac{\sum_i Sim*s_{i}}{\sum Sim} + \mu_x$$

In [ ]:
target_user_avg_rating = userRatings[userRatings.index == user_id].T.mean()[user_id]

# Get list of movies that target has not watched
movies = similar_watched.columns.values.tolist()
score = {}
for i in movies:
    movie_ratings = similar_watched[i]
    rating_sum = 0
    similarity_sum = 0
    for user in movie_ratings.index:
        rating = float(movie_ratings.loc[user])
        similarity = float(top_k_users.loc[user])
        if pd.isna(rating) == False:
            sim_user_avg_rating = userRatings[userRatings.index == user].T.mean()[user]
            mean_centered_rating = rating - sim_user_avg_rating
            rating_sum = rating_sum + mean_centered_rating*similarity
            similarity_sum = similarity_sum + similarity
    predictions = (rating_sum/similarity_sum) + target_user_avg_rating
    score.update({i:predictions})
    
recommendations = pd.DataFrame({'Movie': score.keys(), 'Predictions': score.values()})
recommendations.sort_values('Predictions', ascending = False)[:10]

The Adjusted Cosine metric is used to measure the rating vectors of two items (computing column-wise on the user-item matrix). We will denote the items as item *1* and item *2*. Additionally, $U_1$ and $U_2$ will denote the set of users who have rated items *1* and *2*.

$$r_{3,1} = \frac{r_{3,2}*AdjustedCosine(1,2) + r_{3,3}*AdjustedCosine(1,3)}{AdjustedCosine(1,2) + AdjustedCosine(1,3)}$$

In [ ]:
# Pick a user ID
user = 7

# get k most similar movies for each movie that target user has watched
k = 10
n = 10 # number of recommendations to output

# Get all the movies that target user has watched
target_watched = itemRatings_centered[user].dropna()

# Get all the movies that target user has not watched
target_not_watched = itemRatings_centered[itemRatings_centered[user].isna()][user]

final = pd.DataFrame(columns = ['Target_Movie', 'Similar_Movie', 'Prediction'])

for target_movie in target_not_watched.index:

    rating_sum = 0
    similarity_sum = 0
    target_movie_list = []
    similar_movie_list = []
    prediction_list = []
    similar_movies = items_similarity_matrix[target_movie].dropna()
    for j in similar_movies.index:
        rating = itemRatings_centered[user][j]
        test_rating.append(rating)
        similarity = items_similarity_matrix[target_movie][j]
        test_similarity.append(similarity)
        if pd.isna(rating) == False:
            rating_sum = rating_sum + rating*similarity
            similarity_sum = similarity_sum + abs(similarity)
            prediction = rating_sum/similarity_sum
            target_movie_list.append(target_movie)
            similar_movie_list.append(j)
            prediction_list.append(prediction)
        test = pd.DataFrame(list(zip(target_movie_list, similar_movie_list, prediction_list)),
                      columns = ['Target_Movie', 'Similar_Movie', 'Prediction']).sort_values('Prediction', ascending = False).head(10)
    final = final.append(test)
#final = final.sort_values('Prediction', ascending = False).head(5)